.row {
    width: 100%;
}
.row:after {
    clear:both;
    content:".";
    height: 0;
    width: 0;
    visibility: hidden;
    display: block;
}
.col-1:first-child, .col-2:first-child {
    margin-left:0;
}
.col-1 {
    float: left;
    margin-left: 1%;
    width: 7.41%;
}
.col-2 {
    float: left;
    margin-left: 1%;
    width: 15.83%;
}